
/* main container div */

body{
    font-family: 'Poppins', sans-serif;
  
}
.main-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;   
}
.flex{
    display: flex;
}

/* Vertical side bar code */

.side-bar {
    width: 18.30%;
    height: auto;
    position: absolute;
}
.logo-img {
    width: 5.375rem;
    margin-top: 1.25rem;
}
.logo-img-new {
    height: 50px;
    margin-left: 15px;
}
.logo-img-div {
    margin-left: 1.5625rem;
}
.all-section {
    height: auto;
    width: 100%;
}
.side-bar-main-headings {
    font-size: .75rem;
    margin-top: 1.875rem;
    margin-left: 1.5625rem;
    color: #101645;
    opacity: .2;
    font-weight: 600;
}
.dashboard {
    margin-top: .625rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: .9375rem;
    border-radius: .3125rem;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.dashboard:hover{
    background-color: #FDE9E9;
    cursor: pointer;
}
.emp-main {
    display: flex;
    justify-content: space-between;
}
.red-side-bar {
    border-radius: 3.75rem 0rem 0rem 3.75rem;
    width: .1875rem;
    height: 1.875rem;
    background-color: #F44848;
}

.handle-img-box {
    position: absolute;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    left: 92%;
    top: .9375rem;
    padding-right: 5px;
    img{
        height: 1.5625rem;
    }
}
.eployees:hover{
    background-color: #FDE9E9;
    cursor: pointer;
}
.eployees:hover + .red-side-bar{
   display: block;
}
.dashboard:hover + .red-side-bar{
    display: block;
 }
.red-side-bar{
    display: none;
}
.eployees {
    background-color: #FDE9E9;
    margin-top: .8125rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: .9375rem;
    border-radius: .3125rem;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.all-img {
    margin-top: .3125rem;
    height: 1.25rem;
    width: 1.125rem;
    padding-left: .625rem;
}
.all-img-new {
    height: 37px;
    width: 37px;
    margin-left: 14px;
    margin-top: 21px;
}
a:visited{
    color: #F44848;
    opacity: .5;
    font-weight: 600;
}
.all-heading {
    margin-left: .625rem;
    margin-top: .25rem;
    font-size: .75rem;
    color: #101645;
    opacity: .5;
    font-weight: 600;
    a{
        text-decoration: none;
    }
}
.all-heading-employee {
    color: #F44848;
    opacity: 0.8;
}
.all-arrow {
    height: .625rem;
    margin-top: .5rem;
}
.general {
    margin-top: 0;
}
.box {
    height: 118px;
    width: 182px;
    background-color: #FDE9E9;
    margin-top: 205%;
    margin-left: 12%;
    border-radius: 10px;
}
.box-main-head {
    padding-top: 1rem;
    font-size: 12px;
    font-weight: 500;
    margin-left: 1rem;
    color: #F44848;
    opacity: .8;
}
.box-head-desc {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 10px;
    color: #101645;
    opacity: .2;
    font-weight: 600;
    margin-left: 1rem;
}
.btn-dismiss {
    color: #F44848;
    background-color: #f8cdcd;
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 7px;
    margin-left: 1rem;
    margin-top: .5rem;
    cursor: pointer;
}

.btn-accept {
    color: #FDE9E9;
    background-color: #F44848;
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 7px;
    margin-left: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}



/* Search bar */

.search-bar {
    width: auto;
    height: 55px;
    margin-top: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 17fr 1fr 1fr 1fr 1fr 4fr;
    box-shadow: 0 0 3px #ccc;
}
.search-bar-icons {
    margin-top: 12px;
    img {
        height: 30px;
    }
}
.user-img{
    height: 50px;
}
.admin-name{
    margin-top: 10px; margin-right:7px; margin-left: 5px;
}
.admin{
    font-size: 9px; font-weight: 500;
}
.admin-title{
    font-size: 12px;font-weight: 600;
}
.arw-dwn{
    margin-top: 19px;
   cursor: pointer;
    border: none;
}
.search-heading {
    margin-top: 1.0625rem;
    margin-left: .625rem;
    font-size: .8125rem;
    opacity: 0.2;
    font-weight: 500;
}
.search-icon {
    margin-left: 15px;
    margin-top: 17px;
    img {
        height: 19px;
    }
}
.red-div {
    display: none;
}

.form{
    height: 700px;
    width: auto;
    background-color: pink;
    margin-top: 10px;
    h3{
        font-weight: 500;
        opacity: .8;
    }
    h4{
        font-weight: 600;
        opacity: .8;
    }
}
.Upload-Profile-Picture{
    height: 28px;
    border-radius: 5px;
    width: 155px;
    margin-left: 25px;

    color: white;
    font-size: 13px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    background-color: #F44848;
}
.all-label{
    font-size: 14px;
    opacity: .6;
    font-weight: 500;
}
.all-input{
  border-radius: 2px;
  height: 27px;
  width: 216px;
  margin-top: 2px;
  border-color: gray;
  box-shadow: none;
  outline: none;
  border: 2px solid rgb(202, 202, 202);
}
.all-input2{
border-radius: 2px;
  height: 27px;
  width: 295px;
  margin-top: 2px;
  box-shadow: none;
  outline: none;
  border: 2px solid rgb(202, 202, 202);
}
input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(120, 120, 241);

}
.cancel-btn{
  color: #F44848;
  background-color: #FDE9E9;
 height: 30px;
  width: 95px;
  border: none;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 76%;
}
.add-btn{
  background-color: #F44848;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}









