/* main container div */
body {
    font-family: 'Poppins', sans-serif;
}
.main-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    background-color: #FCFCFC;
}
.flex {
    display: flex;
}
/* Vertical side bar code */
.side-bar {
    width: 18.30%;
    height: auto;
    position: absolute;
    background-color: white;
}
.logo-img {
    width: 5.375rem;
    margin-top: 1.25rem;
}
.logo-img-new {
    height: 35px;
    margin-left: 15px;
}
.logo-img-div {
    margin-left: 1.5625rem;
}
.all-section {
    height: auto;
    width: 100%;
}
.side-bar-main-headings {
    font-size: .75rem;
    margin-top: 1.875rem;
    margin-left: 1.5625rem;
    color: #101645;
    opacity: .2;
    font-weight: 600;
}
.dashboard {
    margin-top: .625rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: .9375rem;
    border-radius: .3125rem;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.dashboard:hover {
    background-color: #FDE9E9;
    cursor: pointer;  
}

.emp-main {
    display: flex;
    justify-content: space-between;
}
.red-side-bar {
    border-radius: 3.75rem 0rem 0rem 3.75rem;
    width: .1875rem;
    height: 1.875rem;
    background-color: #F44848;
}

.handle-img-box {
    position: absolute;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    left: 222px;
    top: 23px;
    padding-right: 5px;

    img {
        height: 1.5625rem;
    }
}
.eployees:hover {
    background-color: #FDE9E9;
    cursor: pointer;   
}
.eployees:hover+.red-side-bar {
    display: block;
}
.dashboard:hover+.red-side-bar {
    display: block;
}

.red-side-bar {
    display: none;
}

.eployees {
    background-color: #FDE9E9;
    margin-top: .8125rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: .9375rem;
    border-radius: .3125rem;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.all-img {
    margin-top: .3125rem;
    height: 1.25rem;
    width: 1.125rem;
    padding-left: .625rem;
}

.all-img-new {
    height: 23px;
    width: 37px;
    margin-left: 14px;
    margin-top: 21px;
}

a:visited {
    color: #101645;
    opacity: .5;
    font-weight: 600;
    text-decoration: none !important;
}

.all-heading {
    margin-left: .625rem;
    margin-top: .25rem;
    font-size: .75rem;
    color: #101645;
    opacity: .5;
    font-weight: 600;

    a {
        text-decoration: none !important;
    }
}

.all-heading-employee {
    color: #F44848;
    opacity: 0.8;
}

.all-arrow {
    height: .625rem;
    margin-top: .5rem;
}

.general {
    margin-top: 0;
}

.box {
    height: 118px;
    width: 182px;
    background-color: #FDE9E9;
    margin-top: 153px;
    margin-left: 12%;
    border-radius: 10px;
    display: block;
}
.box-new {
    height: 118px;
    width: 182px;
    background-color: #FDE9E9;
    margin-top: 153px;
    margin-left: 12%;
    border-radius: 10px;
    display: none;
}

.box-main-head {
    padding-top: 1rem;
    font-size: 12px;
    font-weight: 500;
    margin-left: 1rem;
    color: #F44848;
    opacity: .8;
}

.box-head-desc {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 10px;
    color: #101645;
    opacity: .2;
    font-weight: 600;
    margin-left: 1rem;
}

.btn-dismiss {
    color: #F44848;
    background-color: #f8cdcd;
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 7px;
    margin-left: 1rem;
    margin-top: .5rem;
    cursor: pointer;
}

.btn-accept {
    color: #FDE9E9;
    background-color: #F44848;
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 7px;
    margin-left: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}



/* Search bar */

.search-bar {
    width: auto;
    height: 55px;
    margin-top: 10px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 17fr 1fr 1fr 1fr 1fr 4fr;
    box-shadow: 0 0 3px #ccc;
}

.search-bar-icons {
    margin-top: 12px;

    img {
        height: 30px;
    }
}

.user-img {
    height: 50px;
}

.admin-name {
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 5px;
}

.admin {
    font-size: 9px;
    font-weight: 500;
}

.admin-title {
    font-size: 12px;
    font-weight: 600;
}

.arw-dwn {
    margin-top: 19px;
    cursor: pointer;
    border: none;
}

.search-heading {
    margin-top: 1.0625rem;
    margin-left: .625rem;
    font-size: .8125rem;
    opacity: 0.2;
    font-weight: 500;
}

.search-icon {
    margin-left: 15px;
    margin-top: 17px;

    img {
        height: 19px;
    }
}


/* Employees Section */

.employess-section {
    height: 7.25rem;
    width: auto;
    margin-top: 2px;
}

.employess-section-up {
    display: grid;
    grid-template-columns: 14fr 2fr 3fr;
}

.export-btn {
    height: 32px;
    width: 95px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    font-size: 12px;
    margin-top: 29px;
    margin-right: 12px;
    color: grey;
    font-weight: 500;
    line-height: 28px;
    vertical-align: middle;
    cursor: pointer;
}

.masked-icon {
    height: 15px;
    line-height: 28px;
    vertical-align: middle;
}

.add-employee-btn {
    height: 41px;
    width: 200px;
    background-color: #F44848;
    border-radius: 5px;
    margin-top: 24px;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 500;
    line-height: 32px;
    vertical-align: middle;
    cursor: pointer;
}


.filter-icon-img-modified {
    padding-top: 7px;
    padding-left: 3px;
    filter: opacity(1) drop-shadow(0 0 0 black) ;
}
.filter-icon-img {
    padding-top: 7px;
    padding-left: 3px;
    filter: opacity(1) ;
}
.filter-icon{
    display: block !important;
    border: none;
}


.highlighted-option {
    background-color: #F44848;
    width: 31px;
    color: white;
    height: 33px;
    border-radius: 5px;
}

.btn-div-highlighted {
    color: white;
    opacity: 1;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 7px;
    font-weight: 500;
}
.choice{
    height: 20px;
}
.choice-btn{
    border:none; background-color:white;
}
.choice-box{
        height: 70px;
        width: 100px;
}

.boxx {
    width: 31px;
    height: 33px;
    background-color: #ededed;
    border-radius: 5px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    color: #101645;
    opacity: .7;
    font-weight: 500;
    cursor: pointer;
}

.box-div {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.employee-desc-heading {
    font-size: 13px;
    color: #101645;
    opacity: .6;
    font-weight: 500;
    margin-top: 25px;
}

.employee-desc-desc {
    font-size: 11px;
    color: #101645;
    opacity: .3;
    font-weight: 600;
    margin-top: 7px;
}

.btn-div {
    font-size: 13px;
    padding-top: 5px;
    padding-left: 7px;
    color: #101645;
    opacity: .7;
    font-weight: 500;

}


/* Filter section */
button {
    font-family: 'Poppins', sans-serif;
}

.dropbtn {
    border: none;
    cursor: pointer;
    width: auto;
    height: 27px;
    background-color: white;
    margin-left: 10px;
    font-size: 10px;
    border: 1px solid #F44848;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.8;
    margin-top: 5px;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 27px;
    font-size: 10px;
    min-width: 115%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    line-height: 27px;
    vertical-align: middle;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.filter-section {
    width: auto;
    margin-left: 0px;
    height: 45px;
    background-color: #fce6e6;
    margin-top: 10px;
    border-radius: 5px;
    border-color: #F44848;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.filter-bars {
    height: 9px;
}

.down-angle-img {
    padding-top: 1px;
    margin-left: 5px;
}

.status-box,
.location-box,
.department-box {
    width: auto;
    height: 30px;
    background-color: white;
    margin-left: 10px;
    font-size: 12px;
    border: 1px solid #F44848;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.7;
    margin-top: 8px;
    display: flex;

}

.filter-box {
    color: #F44848;
    font-size: 12px;
    margin-left: 16px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    margin-top: 0px;
    border: none;
    background-color: #fce6e6;
    cursor: pointer;
}

.reset-box {
    margin-right: 77px;
    width: auto;
    height: 23px;
    background-color: white;
    font-size: 11px;
    color: #F44848;
    border: 1px solid #F44848;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    margin-top: 12px;
    cursor: pointer;
}
.reset-box-margin{
    margin-left: 57%;
}
.ellipsis{
    height: 15px;
    cursor: pointer;
}
.ellipsis-head{
    height: 15px;
    margin-left: 5px;
}
.apply-box {
    margin-right: 37px;
    width: auto;
    height: 23px;
    color: white;
    font-size: 11px;
    background-color: #F44848;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
}

.apply-box:disabled,
.apply-box[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.reset-box:disabled,
.reset-box[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.table-add-optn {
    padding-right: 25px;
}
.dlt-btn-section {
    display: flex;
    padding-left: 6px;
}
.table-section {
    height: 300px;
    width: auto;
    margin-top: 77px;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
}

.table-section-head {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    justify-content: space-between;
    height: 45px;
}
.delete-btn {
    width: 47px;
    height: 20px;
    color: white;
    background-color: #f37a7a;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
    margin-left: 7px;
    cursor: pointer;
}
.delete-btn:disabled,
.delete-btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.arrow-turn {
    height: 16px;
    margin-top: 3px;
}
.table-add {
    height: 16px;
    margin-top: 3px;
}
.fa-square,
.fa-regular {
    border-width: 1px;
    opacity: 0.5;
    height: 20px;
    width: 20px;
}

/*  new table */
.employees-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 0 2px -2px #888;
    border-radius: 10px;

}
.table-head {
    font-size: 10px;
    font-weight: 600;
    opacity: 0.7;
    text-align: left;
    height: 2.5rem;
    border-top: 1px solid rgb(204, 204, 204);
    background-color: rgb(241, 241, 241);
    th {
        text-align: left;
        font-weight: 600;

    }
    border-top: 1px solid rgb(204, 204, 204);
}
.employee-row {
    font-size: 11px;
    text-align: left;
    border-top: 1px solid rgb(204, 204, 204);
    height: 42px;
    vertical-align: middle;
    line-height: 42px;
    font-weight: 500;
    opacity: 0.8;
}
.check-box {
    flex: 3%;
    margin-top: 3px;
    margin-left: 34px;
}
.user,
.location,
.department,
.role,
.emp-no,
.status,
.status,
.join-dt {
    flex: 16.26%;
    text-align: left;
    font-size: 10px;

    font-weight: 600;
    opacity: 0.7;
}
.sort-arrow {
    color: grey;
}
.location {
    flex: 10.5%;
}
.common {
    opacity: 1;
}
.department {
    flex: 10.7%;
}
.role {
    flex: 15%;
}

.emp-no {
    flex: 10%;
}

.status {
    flex: 7%;
}

.join-dt {
    flex: 10%;
}

.three-dots {
    flex: 3%;
}

.active-box {
    background-color: rgb(182, 253, 182);
    color: darkgreen;
    height: 18px;
    width: 42px;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    vertical-align: middle;
}
.disable-box {
    background-color: pink;
    color: red;
    height: 18px;
    width: 42px;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    vertical-align: middle;
}

.head-row {
    font-size: 10px;
    text-align: left;
    display: flex;
    background-color: rgb(241, 241, 241);
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 204, 204);
}

.head-row {
    height: 37px;
    vertical-align: middle;
    line-height: 37px;
}
.check-box {
    text-align: left;
    vertical-align: middle;
    line-height: 37px;
}
.employee-rows {
    font-size: 11px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 204, 204);
    height: 42px;
    vertical-align: middle;
    line-height: 42px;
    font-weight: 500;
    opacity: 0.7;
}
.employee-rows:hover {
    background-color: #fcf4f4;
}
.empyees-table {
    height: 240px;
    overflow-y: scroll !important;
    border-radius: 10px;
    box-shadow: 1px 0 2px -2px #888;
}
.emp-details-box {
    width: 100%;
    height: 40px;
    display: flex;
}
.emp-img {
    height: 30px;
    margin-top: 3px;
}
.emp-name {
    margin-left: 5px;
    margin-top: 3px;
    padding-top: 0px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 500;
}
.emp-email {
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    margin-left: 5px;
    position: relative;
    top: -5px;
    color: grey;
    font-weight: 500;
}
.red-div {
    display: none;
}
.selected-alphabet {
    background-color: pink !important;
    color: white;
    opacity: 1;
}
.filter-bars2 {
    height: 14px;
}

.filter-icon2 {
    background-color: white;
    opacity: 1;
    width: 31px;
    height: 33px;
    border-radius: 5px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.filter-icon {
    display: none;
    margin-left: 10px;
    background-color: white;
    opacity: 1;
    width: 31px;
    height: 33px;
    border-radius: 5px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

/* new filters */

.custom-select {
    width: auto;
    height: 30px;
    background-color: white;
    margin-left: 10px;
    font-size: 12px;
    border: 1px solid #F44848;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.7;
    margin-top: 8px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.custom-select:hover {
    background-color: #e0e0e0;
}
#headerCheckbox{
    margin-top: -2px;
}
.options {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 150px;
    width: auto;
    margin-top: 5px;
    font-size: 12px;
    z-index: 1;
}
.option {
    cursor: pointer;
}
.option:hover {
    background-color: #f0f0f0;
}
.selected {
    background-color: #007bff;
    color: #fff;
}
.red-side-bar-dashboard {
    margin-top: 10px;
}
.red-side-bar-block {
    display: block;
}
.material-symbols-outlined {
    margin-top: 5px;
}
.table-container {
    height: 243px;
    overflow-y: scroll !important;
}
.searchInput{
    border: none;
    height: 20px;
}
input.searchInput:focus {
    outline-width: 0;
}
.filter-icon{
    display: block !important;
    border: none;
}
.dynamic-filter-div{
    gap: 5px;
    display: flex; 
}
.reorder-img{
    height: 15px;
    cursor: pointer;
}
